@model Controlinventarioissn.Data.Entities.Equipamiento

<h4>Equipamiento</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumeroRfid)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumeroRfid)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Stock)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Stock)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CategoriesNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CategoriesNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ImagesNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ImagesNumber)
    </dd>
</dl>

